/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
} */

.loginPage{
  display: flex;
  flex-direction: column;
}

.carousel{
  height: 900px;
  max-height: 100vh;
  overflow: hidden;
}

.landingPage {
  width: 100%;
  height: 100vh;
}

.landingPage img {
  width: 100%;
  height: 100%;
}

.login {
  display: flex;
  padding: 20px 50px;
}

.saathiIntro {
  width: 60%;
  padding: 20px 10px;
  margin: 10px;
}

.loginLogo {
  font-family: damion;
  font-size: 3rem;
}

.introData {
  font-size: 0.9rem;
}

.loginForm {
  width: 40%;
  padding: 20px 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid gray;
  min-height: 400px;
}

.loginForm input {
  width: 80%;
  padding: 8px;
  margin: 10px;
}

.loginForm button {
  width: 50%;
  margin-top: 20px;
  padding: 8px;
  
}
