.volunteerPage{
    display: flex;
    flex-direction: column;
}

.addNewLocation{
    width: 100%;
    background-color: white;
    margin: 30px 0;
    padding: 15px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.514);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.ciInputWrapper{
    width: 100%;
    display: flex;
}

.ciInputWrapper div{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ciInputWrapper input{
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(128, 128, 128, 0.719);
}

.ciInputWrapper textarea{
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin: 5px 0;
}

.addNewLocation p{
    width: 100%;
}

.postLocationBtn{
    width: 50%;
    float: right;
    margin-top: 10px;
    padding: 7px;
    background-color: #9d7cff;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

.postLocationBtn:hover{
    width: 50%;
    float: right;
    margin-top: 10px;
    padding: 7px;
    background-color: #5a27f3;
    color: white ;
}


.singleLocationDetails{
    width: 80%;
    background-color: white;
    /* border: 2px solid red; */
    border-radius: 10px;
    padding: 30px;
    margin: 30px 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.locDetailHead{
    font-family: spartan;
    /* text-align: center; */
    font-size: 1.2rem;
    font-weight: 600;
}

.locDateCity{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}

.locDateCity p{
    width: 20% ;
    background-color: #EEF4F8;
    color: gray;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 0.8rem;
}

.locDetailAddress{
    background-color: #EFEAFF;
    color: #9877fc ;
    /* background-color: #c5eefc; */
    /* color: rgb(36, 36, 247); */
    font-family: spartan;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 5px;
    /* border: 1px solid rgb(122, 122, 248); */
}

.locDetailDesc{
    padding: 20px 0;
}

.locDetailImg{
    max-width: 100%;
    padding: 10px 0;
}

.statusOfLoc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: grey;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* border: 2px solid red;   */
    border-radius: 5px;
    font-family: spartan;
    font-size: 0.9rem;
}

.fa-circle-notch{
    color: red;
}