.sidebar{
    width: 18%;
    /* background-color: aqua; */
    padding: 10px;
    border-right: 1px solid rgba(85, 85, 85, 0.226);
}

.sidebarOption{
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9rem;
    color: darkgreen;
    font-family: spartan;
    text-decoration: none;
}

.sidebarOption:hover{
    background-color: white;
    border-left: 3px solid green;
    text-decoration: none;

}

.sidebarOption.active{
    background-color: white;
    border-left: 3px solid #18858d;
    background-color: #57c1c9;
    color: white;
    text-decoration: none;
}

/* Work */

.work{
    padding: 10px 10px;
}

.workStatusHead{
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: spartan;
    font-weight: 400;
}

.pendingWorkName{
    font-family: spartan;
    font-size: 0.8rem;
    padding: 10px 5px;
    border-left: 3px solid red;
    margin-top: 10px;
}

.pendingWorkName:hover{
    background-color: white;
    border-left: 5px solid red;
    color: red;
    font-weight: 700;
}

.completeWorkName{
    font-family: spartan;
    font-size: 0.8rem;
    padding: 10px 5px;
    border-left: 3px solid blueviolet;
    margin-top: 10px;
}

.completeWorkName:hover{
    background-color: white;
    border-left: 5px solid blueviolet;
    color: blueviolet;
    font-weight: 700;
}
