*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: #EEF4F8;
}

.app_body{
  max-width: 100%;
  max-height: 100%;
  display: flex;
  padding: 10px;
  overflow: hidden;
}

.body_conent{
  width: 62%;
  padding: 10px 20px;
  /* background-color: brown; */
}

Link{
  text-decoration: none;
}